.Button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  color: #000000;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
  }
  &:disabled {
    background-color: #cccccc;
    color: #000000;
    cursor: not-allowed;
  }
}

.error {
  background-color: #F0576C;
  color: #ffffff;
}

.success {
  background-color: #A1F045;
  color: #ffffff;
}

.primary {
  background-color: #2884F6;
  color: #ffffff;
}